<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Template jeder Basisseite im Shopassistant-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>ShopAssistant</title>
    </h:head>
    <h:body>
        <!-- Dialoge widget Variable-->
        <ui:insert name="registrationDialog"/>
        <ui:insert name="listnamenDialog"/>
        <ui:insert name="listeloeschenDialog"/>
        <ui:insert name="myaccountDialog"/>
        <ui:insert name="favoritenDialog"/>
        <ui:insert name="gruppenDialog"/>
        <ui:insert name="gruppenselectDialog"/>
        <ui:insert name="gruppenexitDialog"/>
        <ui:insert name="gruppeninDialog"/>
        <ui:insert name="gruppendelDialog"/>
        <ui:insert name="passwortvergesssenDialog"/>
        <!-- Nachrichten -->
        <h:form>
            <p:messages autoUpdate="true" showDetail="true" closable="true" />
        </h:form>
        
        <!-- Header Login/Logout-->
        <div id="top" align="left">
             <div align="right">
                <!-- -->
                <ui:insert name="top">
                    <ui:include src="#{loginLogout.site2}"/>    
                </ui:insert> 
             </div>
         </div>
        <!-- Header Menübar -->
        <div id="top2_menubar" align="center">
            <div align="center">
                <ui:insert name="top2">
                    <ui:include src="../Components/Menubar.xhtml"/>
                </ui:insert> 
            </div>
        </div>
        
        <!-- links: nix-->
        <div id="left">
            <ui:insert name="left"></ui:insert>
        </div>
        
        <div>
            <!-- rechts nix-->
            <div id="right">
                <ui:insert name="right"></ui:insert>
            </div>
            
            <!-- Center Content-->
            <div id="content" class="right_content" style="width: auto; height: 680px;">
                <ui:insert name="content">Content</ui:insert>
            </div>

            <!-- Footer center -->
            <div id="bottom" align="center">
                <div align="center">
                    <!-- Versionsausgabe-->
                    <ui:insert name="bottom">
                       <ui:include src="../Components/versionOutput.xhtml"/>
                    </ui:insert>                          
                </div>
            </div>
        </div>
    </h:body>
</html>
