<ion-view view-title="Favoriten">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="favorite in favorites">
                {{favorite.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
