<ion-view view-title="Gruppen">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-plus-circled"
                ng-click="onNewClick()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list card" ng-repeat="group in groups">

            <ion-item>{{group.name}}
                <p>{{group.members.length}} Mitglieder</p>
            </ion-item>

            <ion-item class="item-body" ng-repeat="member in group.members">
                    {{member}}
            </ion-item>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="onEditClick(group)">
                    <i class="icon ion-edit"></i>
                    Umbenennen
                </a>
                <a class="tab-item" ng-click="onAddClick(group)">
                    <i class="icon ion-person-add"></i>
                    Hinzuf&uuml;gen
                </a>
                <a class="tab-item" ng-click="onExitClick(group)">
                    <i class="icon ion-log-out  "></i>
                    Verlassen
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
