<ion-view view-title="{{listdata.title}}">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-eye"
                ng-click="toggleShowDeleted()" ng-hide="showDeleted" ng->
        </button>

        <button class="button button-icon icon ion-eye-disabled"
                ng-click="toggleShowDeleted()" ng-show="showDeleted">
        </button>
        <button class="button button-icon icon ion-plus-circled"
                ng-click="showAdd()">
        </button>
    </ion-nav-buttons>

    <!-- TODO: Reorder - wohin damit? -->
    <ion-content ng-hide="emptyList">
        <ion-list hold-for-options-wrapper show-reorder="data.showReorder" >

            <!-- outer ng-repeat -->
            <span ng-repeat="group in groups">

                <ion-item class="item-divider" ng-show="group.name" ng-click="onStoreClick(group.name)">
                    {{ group.name }}<div class="detail">{{ group.detail }}</div>
                </ion-item>

                <!-- inner ng-repeat -->
                <ion-item hold-for-options ng-repeat="item in group.items" class="item-remove-animate">

                    <div class="item-checkbox">

                        <label class="checkbox" ng-hide="data.showDelete">
                            <input type="checkbox"
                                   ng-model="item.checked"
                                   ng-checked="item.checked"
                                   ng-change="onItemChecked(item)"
                                   on-hold="onItemHold()">
                        </label>

                        <span><span ng-if="item.number > 1">{{ item.number }} x</span>

                        {{ item.text }}

                        <div class="detail" ng-show="item.detail">Details: {{ item.detail }}</div></span>

                    </div>


                    <ion-reorder-button class="item-reorder"></ion-reorder-button>

                    <ion-option-button class="button-stable"
                                       ng-click="showEdit(item)">
                        Bearbeiten
                    </ion-option-button>

                    <ion-option-button class="button-assertive"
                                       ng-click="onItemDelete(item)">
                        Löschen
                    </ion-option-button>
                </ion-item>
            </span>
        </ion-list>

        <ion-item class="item-divider"
                    ng-if="doneList.length > 0"
                    ng-click="onBoughtListClick()">
            Gekaufte Elemente
        </ion-item>

        <ion-list>
            <ion-item ng-repeat="item in doneList">
                <div class="item-checkbox" >

                    <label class="checkbox checkbox-light" ng-hide="data.showDelete">
                        <input type="checkbox"
                               ng-model="item.checked"
                               ng-checked="item.checked"
                               ng-change="onItemUnchecked(item)">
                    </label>

                    <span class="bought"><span ng-if="item.number > 1">{{ item.number }} x</span>

                    {{ item.text }}

                    <!--<span class="bought store" ng-show="item.store">{{item.store}}</span>-->

                    <div class="detail" ng-show="item.detail">Details: {{ item.detail }}</div></span>

                </div>
            </ion-item>
        </ion-list>

    </ion-content>

    <ion-content ng-show="emptyList" class="center-content">
        <span class="emptyText">Keine Einträge vorhanden. <br> Bitte benutzen Sie <i class="icon ion-plus-circled"></i> zum hinzufügen.</span>
    </ion-content>
</ion-view>
