<ion-view view-title="Listen">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-plus-circled"
                ng-click="showAdd()">
        </button>
    </ion-nav-buttons>

    <!--TODO: zuletzt geöffnete Liste nach oben-->
    <!--TODO: Listen löschen (mit Sicherheitsabfrage -->
    <ion-content ng-hide="noLists">
        <ion-list hold-for-options-wrapper>
            <ion-item hold-for-options ng-repeat="list in lists" href="#/app/listbrowse/{{list.id}}">
                <span>{{list.title}}</span>
                <div class="detail" ng-show="list.group">Gruppe: {{list.group}}</div>
                <ion-option-button class="button-calm"
                                   ng-click="showEdit(list)">
                    Bearbeiten
                </ion-option-button>

                <ion-option-button class="button-assertive"
                                   ng-click="removeList(list)">
                    Löschen
                </ion-option-button>
            </ion-item>

        </ion-list>
    </ion-content>

    <ion-content ng-show="noLists" class="center-content">
        <span class="emptyText">Keine Einträge vorhanden. <br> Bitte benutzen Sie <i class="icon ion-plus-circled"></i> zum hinzufügen.</span>
    </ion-content>
</ion-view>
