<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false" ng-controller="AppCtrl">
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button ng-click="goBack()"></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menü</h1>
        </ion-header-bar>

        <ion-content>
            <ion-list>

                <ion-item nav-clear menu-close ng-click="login()" ng-hide="isLoggedIn">
                Login
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/profile" ng-show="isLoggedIn && isOnline">
                Profil
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/groups" ng-show="isLoggedIn && isOnline">
                Gruppen
                </ion-item>

                <!--<ion-item nav-clear menu-close href="#/app/favorites">
                Favoriten
                </ion-item>-->

                <ion-item nav-clear menu-close href="#/app/listbrowse">
                Listen
                </ion-item>

                <ion-item nav-clear menu-close ng-click="logout()" ng-show="isLoggedIn">
                Logout
                </ion-item>

            </ion-list>
        </ion-content>

        <ion-footer-bar align-title="center" class="menu_footer">
            <img src="img/icon.png" height="100" width="100" align="center">
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>
