<ion-view view-title="Profil">
    <ion-content>
        <div id="profile-info">
            <h3 id="profile-name">{{profile.name}}</h3>
            <span id="profile-description">{{profile.email}}</span>
        </div>
        <div class="bottom-padding">
        <ion-list class="bottom-padding">
            <ion-item ng-repeat="detail in profile.details">
                {{detail.text}}
            </ion-item>
        </ion-list></div>
    </ion-content>
    <div class="bottom">
        <div class="tabs tabs-icon-left">
            <i class="tab-item" ng-click="showChangeName()">
                <i class="icon ion-person"></i>
                Name &auml;ndern
            </i>
            <i class="tab-item" ng-click="showChangeMail()">
                <i class="icon ion-email"></i>
                E-Mail &auml;ndern
            </i>
            <i class="tab-item" ng-click="showChangePassword()">
                <i class="icon ion-asterisk"></i>
                Passwort &auml;ndern
            </i>
        </div>
    </div>
</ion-view>
