<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Menübar zur Steurung der Seiten im UI -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <h:form>
            <p:menubar style="width: auto;">
                <!-- Startseite -->
                <p:menuitem value="Home" icon="ui-icon-home" url="#{pageNavigation.gotoStart()}"/>          
                <!-- Einkaufsliste -->
                <p:menuitem value="Einkaufsliste" icon="ui-icon-arrowreturnthick-1-e" url="#{pageNavigation.gotoListen()}" rendered="#{loginLogout.renderZettel}"/>     
                <!-- Listenaktionen -->
                <p:submenu label="Listenaktionen" rendered="#{loginLogout.renderListenOptionen}">
                    <p:menuitem icon="ui-icon-document-b" value="Liste erstellen" action="#{dialogBean.showListnamenDialog()}"/>
                </p:submenu>
                <!-- Gruppenaktionen -->
                <p:submenu label="Gruppenaktionen" rendered="#{loginLogout.renderGruppenOptionen}">
                     <p:menuitem icon="ui-icon-arrowreturnthick-1-e" value="Neue Gruppe erstellen" action="#{dialogBean.showMeineGruppenDialog()}"/>
                     <p:menuitem icon="ui-icon-arrowreturnthick-1-e" value="Jemanden einladen" action="#{dialogBean.showMeineGruppeninDialog()}"/>
                     <p:menuitem icon="ui-icon-arrowreturnthick-1-e" value="Austreten aus Gruppe" update=":exitform" action="#{dialogBean.showMeineGruppenExitDialog()}"/>
                     <p:menuitem icon="ui-icon-arrowreturnthick-1-e" value="Gruppe löschen" action="#{dialogBean.showMeineDeleteGruppeninDialog()}"/>
                </p:submenu>
                <!-- Statistik -->
                <p:menuitem value="Statistik" icon="ui-icon-calculator" url="#{pageNavigation.gotoStatistik()}" rendered="#{loginLogout.renderStatistik}"/>       
                <!-- Hilfe -->
                <p:menuitem value="Hilfe" icon="ui-icon-help" url="#{pageNavigation.gotoHilfe()}"/>       
            </p:menubar>            
        </h:form>      
    </h:body>
</html>
