<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Footer Ausgabe, VErsion des Shopassistant -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
    </h:head>
    <h:body>
        ShopAssistant 1.1
    </h:body>
</html>
