<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- AJAX Status Loader -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <h:outputText value="Bitte warten" style="color: #036fab; font-size: 13px;"/>
            <p:spacer width="15px"/>
            <p:graphicImage value="resources/Images/ajax-loader.gif" />
        </p:dialog>
    </h:body>
</html>
