/* Empty. Add your own CSS if you like */
div.detail { font-size:small; color:grey; font-style: italic}
div.alert { text-align: center }
div.bottom { position: fixed; bottom: 0px; width: 100% }

span.store { font-size:small; color:grey; float:right }
span.bought { text-decoration: line-through; color:grey; font-style: italic}
span.emptyText { font-size: large; color:grey ; text-align: center}
span.detail { font-size:small; color:grey; font-style: italic}

.bottom-padding { margin-bottom: 50px }

input:disabled { color:grey; background-color: white}

form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.menu_footer{
    height: 105px;.
    border: 0px !important;
    border-top-color: transparent !important;
    background-image: none;
    border-top: none;
}

.center-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

/*from profile sample*/

#profile-info {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 7%;
}

#profile-name {
    font-size: xx-large;
}
#profile-description {
}