<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Favorit hinzufügen</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="toggleSort()">{{ data.sortText }}</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="favorite in favorites | orderBy:data.predicate:data.reverse" ng-click="onAddFav(favorite)">
                {{favorite.name}}
                <div class="detail" ng-show="favorite.detail">Details: {{ favorite.detail }}</div>
                <div class="detail" ng-show="favorite.store">Geschäft: {{ favorite.store }} <span ng-show="favorite.storedetail">({{favorite.storedetail}})</span> </div>
            </ion-item>
        </ion-list>
        <ion-item>
            <button class="button button-block" type="button" ng-click="closeAddFav()">Abbrechen</button>
        </ion-item>
    </ion-content>
</ion-modal-view>