<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Neuer Eintrag</h1>
        <div class="buttons">
            <button class="button icon-left ion-star" ng-click="showAddFav()">Favoriten</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="addItem()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <span>
                    <input type="text" ng-model="newitem.text">
                    </button></span>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Anzahl</span>
                    <input type="number" ng-model="newitem.number">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Weitere Angaben</span>
                    <input type="text" ng-model="newitem.detail">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Geschäft</span>
                    <input type="text" ng-model="newitem.store">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Geschäftsdetails</span>
                    <input type="text" ng-model="newitem.storedetail">
                </label>
                <span class="row">
                    <span class="col">
                        <button class="button button-block" type="button" ng-click="closeAdd()">Abbrechen</button>
                    </span>
                    <span class="col">
                        <button class="button button-block button-positive" type="submit">Hinzufügen</button>
                    </span>
                </span>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
