<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Liste hinzufügen</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-close-round" ng-click="closeAdd()" />
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="addList()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Titel</span>
                    <input type="text" ng-model="newlist.title">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Gruppe</span>
                    <select ng-model="data.selectedGroup" ng-options="group as group.name for group in groups"></select>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Hinzufügen</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
