<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Passwort &auml;ndern</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-close" ng-click="closeChangePassword()" ></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="changePassword()" name="form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Passwort</span>
                    <input type="password" ng-model="editdata.password1" name="password1" required>
                    <span ng-show="form.password1.$touched && form.password1.$error.required" class="detail">Dies ist ein Pflichtfeld.</span>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Passwort wiederholen</span>
                    <input type="password" ng-model="editdata.password2" name="password2" required>
                    <span ng-show="form.password2.$touched && form.password2.$error.required" class="detail">Dies ist ein Pflichtfeld.</span>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">&Auml;ndern</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
