<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">E-Mail &auml;ndern</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-close" ng-click="closeChangeMail()" ></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="changeMail()" name="form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">E-Mail</span>
                    <input type="email" ng-model="editdata.email" name="email" required>
                    <span ng-show="form.email.$touched && form.email.$error.required" class="detail">Dies ist ein Pflichtfeld.</span>
                    <span ng-show="form.email.$touched && form.email.$error.email" class="detail">Ung&uuml;ltige Adresse</span>
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="submit">&Auml;ndern</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
