<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Bearbeiten</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-close-round" ng-click="closeEdit()" />
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="editItem()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="item.text">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Anzahl</span>
                    <input type="number" ng-model="item.number">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Weitere Angaben</span>
                    <input type="text" ng-model="item.detail">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Geschäft</span>
                    <input type="text" ng-model="item.store">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Geschäftsdetails</span>
                    <input type="text" ng-model="item.storedetail">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Speichern</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
