<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Liste bearbeiten</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-close-round" ng-click="closeEdit()" ></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="editList()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="list.title">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Gruppe</span>
                    <select ng-model="list.groupid" ng-options="group.id as group.name for group in groups"></select>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Speichern</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
