<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Passwort vergessen</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-close" ng-click="closeForgotPassword()" ></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="forgotPassword()" name="form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.username" name="username" required>
                    <span ng-show="form.username.$touched && form.username.$error.required" class="detail">Bitte geben Sie ihren Usernamen ein.</span>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Passwort anfordern</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
