<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()" ng-hide="noclose">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Username oder E-Mail</span>
                    <input type="text" ng-model="loginData.username" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Passwort</span>
                    <input type="password" ng-model="loginData.password" required>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Login</button>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" ng-click="showRegister()" type="button">Neu registrieren</button>
                </label>
                <label class="item">
                    <button class="button button-block button-stable" ng-click="showForgotPassword()" type="button">Passwort vergessen?</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
