<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Registrierung</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-close" ng-click="closeRegister()" ></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doRegister()" name="form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="registerdata.username" name="username" required>
                    <span ng-show="form.username.$touched && form.username.$error.required" class="detail">Dies ist ein Pflichtfeld.</span>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">E-Mail</span>
                    <input type="email" ng-model="registerdata.email" name="email" required>
                    <span ng-show="form.email.$touched && form.email.$error.required" class="detail">Dies ist ein Pflichtfeld.</span>
                    <span ng-show="form.email.$touched && form.email.$error.email" class="detail">Ung&uuml;ltige Adresse</span>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Passwort</span>
                    <input type="password" ng-model="registerdata.password1" name="password1" required>
                    <span ng-show="form.password1.$touched && form.password1.$error.required" class="detail">Dies ist ein Pflichtfeld.</span>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Passwort wiederholen</span>
                    <input type="password" ng-model="registerdata.password2" name="password2" required>
                    <span ng-show="form.password2.$touched && form.password2.$error.required" class="detail">Dies ist ein Pflichtfeld.</span>
                </label>
                    <label class="item">
                    <button class="button button-block button-positive" type="submit">Registrieren</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
