<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--Hilfeseite-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>ShopAssistant</title>
    </h:head>
    <h:body>        
         <ui:composition template="resources/template/template.xhtml">
            <!--Dialoge-->
            <ui:define name="registrationDialog">
               <ui:include src="resources/dialogs/RegistrationFormularDialog.xhtml"/>
            </ui:define>
            <ui:define name="listnamenDialog">
               <ui:include src="resources/dialogs/ListennamenDialog.xhtml"/>
            </ui:define>
             <ui:define name="listeloeschenDialog">
               <ui:include src="resources/dialogs/ListeloeschenDialog.xhtml"/>
            </ui:define>
            <ui:define id="menubar" name="top2">
                <ui:include src="resources/Components/Menubar.xhtml"/>
            </ui:define>
            <ui:define name="myaccountDialog">
               <ui:include src="resources/dialogs/MeinAccountDialog.xhtml"/>
            </ui:define>
            <ui:define name="gruppenDialog">
               <ui:include src="resources/dialogs/GruppenDialog.xhtml"/>
            </ui:define>
             <ui:define name="gruppenexitDialog">
               <ui:include src="resources/dialogs/GruppenExitDialog.xhtml"/>
            </ui:define>
             <ui:define name="passwortvergesssenDialog">
               <ui:include src="resources/dialogs/PassForgotten.xhtml"/>
            </ui:define>
            
            <!--Center Content-->
            <ui:define name="content">
                <p:panel id="helpi" style="height: 98%; overflow-y: scroll;">
                    <h1>Hilfe</h1>
                    <p:dataList value="#{hilfeText.helpaction}" var="h" style="">
                        <p:outputLabel value="#{h}"/>
                    </p:dataList>
                </p:panel>
            </ui:define>   
        </ui:composition>
    </h:body>
</html>

