<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Startseite des Shopassistants.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>ShopAssistant</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet value="resources/css/default.css"/>
    </h:head>
    <h:body>
        <ui:composition template="resources/template/template.xhtml">
            <!--Dialoge-->
            <ui:define name="registrationDialog">
               <ui:include src="resources/dialogs/RegistrationFormularDialog.xhtml"/>
            </ui:define>
            <ui:define name="listnamenDialog">
               <ui:include src="resources/dialogs/ListennamenDialog.xhtml"/>
            </ui:define>
            <ui:define name="listeloeschenDialog">
               <ui:include src="resources/dialogs/ListeloeschenDialog.xhtml"/>
            </ui:define>
            <ui:define name="myaccountDialog">
               <ui:include src="resources/dialogs/MeinAccountDialog.xhtml"/>
            </ui:define>
      
            <ui:define name="gruppenexitDialog">
               <ui:include src="resources/dialogs/GruppenExitDialog.xhtml"/>
            </ui:define>
            <ui:define name="gruppeninDialog">
               <ui:include src="resources/dialogs/GruppenEinladung.xhtml"/>
            </ui:define>
            <ui:define name="passwortvergesssenDialog">
               <ui:include src="resources/dialogs/PassForgotten.xhtml"/>
            </ui:define>
            
            <!--Center Content-->
            <ui:define name="content">
                <p:panel style="height: 98%;">
                    <h2><p:outputLabel value="Willkommen beim ShopAssitant!"/></h2>
                    <br/>
                    <br/>
                    <h3><p:outputLabel value="Fertigen Sie gleich noch ihren Einkaufszettel an."/>
                        <br/>
                        <p:outputLabel value="So werden Sie garantiert nichts beim Einkaufen vergessen!"/>
                        <br/>
                        <br/>
                    </h3>
                    <h4>
                        <p:outputLabel value="Erstellen Sie Gruppen, die gemeinsam eine Liste erarbeitet und erledigt."/>
                        <br/>
                        <br/>
                        <p:outputLabel value="Verfolgen Sie Ihr Einkaufsverhalten."/>
                        <br/>
                        <p:outputLabel value="Shoppasistant zeigt ihre Top 10 der am meisten eingekauften Produkte."/>
                        <br/>
                        <p:outputLabel value="Viel Spaß!"/>
                    </h4>
                    <br/>
                    <br/>
                    
                    <p:graphicImage class="image" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; height: 100%;"/>
                </p:panel>
                
            </ui:define>   
        </ui:composition>
    </h:body>
</html>

