<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--Listenseite-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
      
    <h:head>
        <title>ShopAssistant</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    </h:head>
    <h:body>
        <!--Stateless-->
        <f:view transient="true" contentType="text/html" encoding="UTF-8">
        <ui:composition template="resources/template/template.xhtml">
            <!-- Dialoge -->
            <ui:define name="registrationDialog">
               <ui:include src="resources/dialogs/RegistrationFormularDialog.xhtml"/>
            </ui:define>
            <ui:define name="listnamenDialog">
               <ui:include src="resources/dialogs/ListennamenDialog.xhtml"/>
            </ui:define>
             <ui:define name="listeloeschenDialog">
               <ui:include src="resources/dialogs/ListeloeschenDialog.xhtml"/>
            </ui:define>
            <ui:define name="myaccountDialog">
               <ui:include src="resources/dialogs/MeinAccountDialog.xhtml"/>
            </ui:define>
             <ui:define name="favoritenDialog">
               <ui:include src="resources/dialogs/FavoritenDialog.xhtml"/>
            </ui:define>
            <ui:define name="gruppenDialog">
               <ui:include src="resources/dialogs/GruppenDialog.xhtml"/>
            </ui:define>
              <ui:define name="gruppenselectDialog">
               <ui:include src="resources/dialogs/SelectGruppeDialog.xhtml"/>
            </ui:define>
            <ui:define name="gruppenexitDialog">
               <ui:include src="resources/dialogs/GruppenExitDialog.xhtml"/>
            </ui:define>
            <ui:define name="gruppeninDialog">
               <ui:include src="resources/dialogs/GruppenEinladung.xhtml"/>
            </ui:define>
            <ui:define name="gruppendelDialog">
               <ui:include src="resources/dialogs/GruppenDelete.xhtml"/>
            </ui:define>
            <ui:define name="passwortvergesssenDialog">
               <ui:include src="resources/dialogs/PassForgotten.xhtml"/>
            </ui:define>
            
            <!--center content -->
            <ui:define name="content">
                <h:form id="formy">   
                    <!--pre define && panel binding-->
                    #{shopList.makeZettel()}
                    <p:panel id="za" binding="#{shopList.zettel}" style="overflow-y: auto; height: 675px;"/>
                </h:form>
            </ui:define>   
         </ui:composition>
    </f:view>
    </h:body>    
</html>

