<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--statistik Facelet-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Statistik</title>
    </h:head>
    <h:body>  
        <f:view>
         <ui:composition template="resources/template/template.xhtml">
            <!-- Dialoge -->
            <ui:define name="registrationDialog">
               <ui:include src="resources/dialogs/RegistrationFormularDialog.xhtml"/>
            </ui:define>
              <ui:define name="listnamenDialog">
               <ui:include src="resources/dialogs/ListennamenDialog.xhtml"/>
            </ui:define>
            <ui:define name="listeloeschenDialog">
               <ui:include src="resources/dialogs/ListeloeschenDialog.xhtml"/>
            </ui:define>
            <ui:define name="myaccountDialog">
               <ui:include src="resources/dialogs/MeinAccountDialog.xhtml"/>
            </ui:define>
            <ui:define name="gruppenDialog">
               <ui:include src="resources/dialogs/GruppenDialog.xhtml"/>
            </ui:define>
            <ui:define name="gruppenexitDialog">
               <ui:include src="resources/dialogs/GruppenExitDialog.xhtml"/>
            </ui:define>
            <ui:define name="gruppeninDialog">
               <ui:include src="resources/dialogs/GruppenEinladung.xhtml"/>
            </ui:define>
            <ui:define name="passwortvergesssenDialog">
               <ui:include src="resources/dialogs/PassForgotten.xhtml"/>
            </ui:define>

            <!--Center Content --> 
            <ui:define name="content">
                <h1>Statistik</h1>
                    <!--generier Favorite pre define -->
                    <!-- kreiere chart komponente -->
                    #{shopList.generateFavoriten()}
                    <p:panel>
                        <h:form>
                            <p:commandButton action="#{statistikBean.createLineModel()}" update="chart" icon="ui-icon-arrowrefresh-1-e" value="Neu laden..."/> 
                            <p:chart id="chart" type="bar" model="#{statistikBean.barModel}" style="height:300px; width: 95%;" responsive="true">
                                <p:ajax event="itemSelect" listener="#{statistikBean.createLineModel()}" update="chart"/>
                            </p:chart>
                        </h:form>
                        <!-- kreiere Legende -->
                        <p:panel style="overflow-y: auto">
                            <h:outputText value="Legende" style="font-size: 20px;"/>
                            <p:dataTable value="#{shopList.favoritenListe}" var="l" rows="10">
                                <p:column headerText="Häufigkeit">
                                    <p:outputLabel value="#{l.anzahl}"/>
                                </p:column>
                                <p:column headerText="Produkt">
                                    <p:outputLabel value="#{l.name}"/>
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                    </p:panel>
            </ui:define>                
        </ui:composition>
        </f:view>
    </h:body>
</html>

