<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Dialog mit den Favoriten (Top 10) -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="cssLayout.css" />
    </h:head>
    <h:body>
        <!-- Dialog mit Datatable mit Favopriten -->
        <p:dialog id="dialogfav" header="Aktuelle Favoriten" 
                  widgetVar="favoritenDialog" height="auto" closable="true" 
                  dynamic="true" minimizable="true" closeOnEscape="true" styleClass="dialogfav">      
            <h:form id="favoritenform">
                <!-- DataTable für Favoriten-->
                <p:dataTable id="fav" value="#{shopList.favoritenListe}" var="l" editable="true">
                    <p:ajax event="rowEdit" listener="#{shopList.addNewFavorit}" update=":favoritenform:fav"/>
                    
                    <!-- Anzahl/Häufigkeit -->
                    <p:column headerText="Anzahl/Häufigkeit" priority="3">
                        <h:outputText value="#{l.anzahl}" style="border-color: #ffffff"/>
                    </p:column>
                    
                    <!-- Produktname-->
                    <p:column headerText="Name" priority="1">
                        <p:cellEditor>
                               <f:facet name="output">
                                   <h:outputText value="#{l.name}"/>
                               </f:facet>
                               <f:facet name="input">
                                   <p:inputText value="#{l.name}" style="width:100%"/>
                               </f:facet>
                           </p:cellEditor>
                    </p:column>
                    
                    <!-- Produktdetails -->
                    <p:column headerText="Detail" priority="4">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{l.detail}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{l.detail}" style="width:100%"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    
                    <!-- Geschaeft -->
                    <p:column headerText="Geschäft" priority="2">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{l.store}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{l.store}" style="width:100%"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    
                    <!-- Geschaeftsdetails -->
                    <p:column headerText="Geschäftdetails" priority="4">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{l.storedetails}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{l.storedetails}" style="width:100%"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    
                    <!-- Edit Stift letzte Spalte -->
                    <p:column style="width:32px" priority="1">
                        <p:rowEditor/>
                    </p:column>
                </p:dataTable>
                
                <!-- Fenster schließen Button-->
                <h:form>
                    <p:commandButton value="Fenster schließen" ajax="true" action="#{dialogBean.hideMeineFavoritenDialog()}"/>
                </h:form>
           </h:form>
       </p:dialog>   
            
    </h:body>
</html>
