<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Dialog zum Erstellen einer neuen Gruppe (Namen eingeben! -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>Formular</title>       
    </h:head>
    <h:body>
        <!-- gloabel Message Ausgabe -->
        <p:growl id="hm" for="gruppenform" showDetail="true"></p:growl>
            <!-- Dialog -->
            <p:dialog id="dialoggruppe" header="Gruppe erstellen?" widgetVar="gruppenDialog" height="auto" closable="true" >      
                <h:form id="gruppenform">
                    <p:panel id="panelgruppe" style="border-color: #ffffff" >
                        <p:outputLabel value="Bitte geben Sie nun den Namen der Gruppe ein."/>
                        <br/>
                        <p:outputLabel value="Name der Gruppe: "/>
                        <!-- Eingabe des Gruppennamens -->
                        <h:panelGrid border="0" columns="2">
                            <p:inputText id="ln" value="#{gruppenBean.gruppennamen}" required="true" requiredMessage="Bitte Gruppennamen eingeben.">
                            <f:validateLength minimum="2" maximum="15"/>
                        </p:inputText>
                        <p:message for="ln" display="Text"/>
                        </h:panelGrid>
                        <br/>
                        <!-- Bestätigen oder Abbrechen! -->
                        <p:commandButton id="bestaetigunggruppe"  validateClient="true" update="gruppenform" value="Bestätigung" action="#{gruppenBean.createGruppe()}"/>
                        <p:commandButton id="abbrechengruppe" onclick="PF('gruppenDialog').hide()" value="Abbrechen"/>
                   </p:panel>        
                </h:form>
            </p:dialog>         
    </h:body>
</html>
