<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Dialog um jemanden einzuladen (Name), der an einer Liste mitarbeiten darf!-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:head>
        <title>Formular</title>       
    </h:head>
    <h:body>
        <!-- Dialog -->
         <p:dialog id="dialogingruppe" header="Gruppen Einladung" widgetVar="gruppeninDialog" height="auto" closable="true" dynamic="true">      
            <h:form id="groupinform">
                <!-- wenn Gruppen überhaupt existieren -->
                <h:panelGrid columns="3" border="0" rendered="#{loginLogout.gruppenvorhanden}">
                    <!-- Eingabe des Namens der Person-->
                    <p:outputLabel value="Bitte geben Sie die Email des Nutzers ein:"/>
                    <h:inputText value="#{gruppenBean.userEmail}"/>
                    <p:outputLabel value="" rendered="#{gruppenBean.placeholder}"/>
                    <p:outputLabel id="outmessage" value=" #{gruppenBean.uservorhanden}" rendered="#{gruppenBean.renderMessage}"/>
                    
                    <!-- Auswahl der Gruppe -->
                    <p:outputLabel value="Bitte wählen Sie die Gruppe aus:"/>
                    <h:selectOneMenu value="#{gruppenBean.selectedGroup}">
                        <f:selectItems value="#{shopList.gruppenlistest}"/>
                    </h:selectOneMenu>
                    <p:spacer width="15px"/>
                    
                    <!-- Buttonsteuerung -->
                    <h:panelGrid columns="2" border="0">
                        <p:commandButton id="bestaetigungingruppe" validateClient="true" update="groupinform" value="Nutzer suchen" action="#{gruppenBean.inviteUser()}" rendered="#{gruppenBean.suchen}"/>
                        <p:commandButton id="bestaetigungingruppe2" validateClient="true" update="groupinform" value="Einaldung abschicken" action="#{gruppenBean.addandpersistUser()}" rendered="#{gruppenBean.nutzergefunden}"/>
                        <p:commandButton id="abbrecheningruppe" onclick="PF('gruppeninDialog').hide()" value="Abbrechen"/>
                    </h:panelGrid>                    
                    <p:spacer/>
                    <p:spacer/>
                </h:panelGrid>
                
                <!-- wenn keine Gruppen existieren -->
                <p:outputLabel value="Es existieren keine Gruppen zu denen jemand eingeladen werden kann." style="color: red" rendered="#{loginLogout.gruppennichtvorhanden}"/>
                <br/>
                <!-- Dialog schließen -->
                <p:commandButton onclick="PF('gruppeninDialog').hide()" value="Dialog schließen" rendered="#{loginLogout.gruppennichtvorhanden}"/>
            </h:form>
        </p:dialog>
    </h:body>
</html>
