<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Gruppen löschen Dialog!-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">    
    <h:head>
        <title>Formular</title>       
    </h:head>
    <h:body>
        <!-- Dialog -->
        <p:dialog id="dialogdelgruppe" header="Gruppe endgültig löschen" widgetVar="gruppendelDialog" height="auto" closable="true" dynamic="true">      
            <h:form id="delform">
                <!-- wenn Gruppen existieren! -->
                <h:panelGrid columns="2" border="0" rendered="#{loginLogout.gruppenvorhanden}">
                    <p:outputLabel value="Bitte wählen Sie eine Gruppe aus:"/>
                    
                    <!-- Auswahl des Gruppennamens-->
                    <h:selectOneMenu value="#{gruppenBean.selecteddelGroup}">
                        <f:selectItems value="#{shopList.gruppenlistest}"/>
                    </h:selectOneMenu>
                    
                    <!-- Nachrichten Ausgabe -->
                    <p:outputLabel id="outmessage2" value="#{gruppenBean.delgruppemessage}" rendered="#{gruppenBean.renderdelmessage}" style="color: red;"/>
                    <p:outputLabel id="outmessage3" value="#{gruppenBean.delgruppemessage2}" rendered="#{gruppenBean.renderdelmessage2}" style="color: red;"/>
                    
                    <!-- Buttonsteuerung -->
                    <h:panelGrid columns="2" border="0">
                        <p:commandButton id="bestaetigungdelgruppe" update="delform" value="Gruppe suchen" action="#{gruppenBean.removeGruppe()}" rendered="#{gruppenBean.rendergruppesuchenbutton}"/>
                        <p:commandButton id="bestaetigungdel2gruppe" update="delform" value="Gruppe löschen" rendered="#{gruppenBean.renderdelgruppebutton}" action="#{gruppenBean.deleteandpersistGruppe()}"/>
                        <p:commandButton id="abbrechendelgruppe" action="#{gruppenBean.abbortDialog()}" value="Abbrechen"/>
                    </h:panelGrid>
                    <p:spacer/>
                </h:panelGrid>
                
                <!-- wenn keine Gruppen existieren! -->
                <p:outputLabel value="Es esixtieren keine Gruppen zum Löschen!" style="color:red" rendered="#{loginLogout.gruppennichtvorhanden}"/>
                <br/>
                <!-- Abbrechen -->
                <p:commandButton id="abbrechendelgruppe" onclick="PF('gruppendelDialog').hide()" value="Abbrechen" rendered="#{loginLogout.gruppennichtvorhanden}"/>
            </h:form>
        </p:dialog>      
    </h:body>
</html>
