<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Dialog um generell aus einer Gruppe auszutreten.-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Formular</title>       
    </h:head>
    <h:body>
        <!-- Dialog -->
        <p:dialog id="dialogexitgruppe" header="Aus Gruppe aussteigen... " widgetVar="gruppenexitDialog" height="auto" closable="true" >      
            <h:form id="exitform">
                <!-- Wenn Gruppen überhaupt existieren -->
                <h:panelGrid columns="3" border="0" rendered="#{loginLogout.gruppenvorhanden}">
                    <p:outputLabel value="Bitte wählen Sie eine Gruppe aus:"/>
                    
                    <!-- Auswahl der Gruppe-->
                    <h:selectOneMenu value="#{shopList.item}">
                        <f:selectItems value="#{shopList.gruppenlistest}"/>
                    </h:selectOneMenu>
                    <p:spacer width="15px"/>
                    
                    <!-- bestaetigen oder abbrechen -->
                    <p:commandButton id="bestaetigungexitgruppe" update="exitform" value="Bestätigung" action="#{gruppenBean.exitGruppe()}"/>
                    <p:commandButton id="abbrechenexitgruppe" onclick="PF('gruppenexitDialog').hide()" value="Abbrechen"/>
                </h:panelGrid>

                <!-- wenn keine Gruppen existieren -->
                <p:outputLabel value="Es existieren keine Gruppen zum Aussteigen!" rendered="#{loginLogout.gruppennichtvorhanden}" style="color: red;"/>
                <br/>
                <!-- Dialog schließen -->
                <p:commandButton id="dialogexitgruppe" update="exitform" value="Dialog schließen" onclick="PF('gruppenexitDialog').hide()" rendered="#{loginLogout.gruppennichtvorhanden}"/>
           </h:form>
       </p:dialog>
      
    </h:body>
</html>
