<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Dialog zum Löschen einer Liste. Confirm Dialog -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Formular</title>       
    </h:head>
    <h:body>
        <!-- Dialog -->
        <p:dialog id="dialoglisteloeschen" header="Liste löschen?" widgetVar="listeloeschenDialog" height="auto" closable="true" >      
            <h:form id="listlöschenform">
                <p:panel id="panellöschen" style="border-color: #ffffff" >
                    <!-- ja / nein-->
                    <p:outputLabel value="Möchten Sie die Liste #{shopList.listname} wirklich löschen?"/>
                    <p:commandButton id="bestaetigunglöschen" value="Ja" action="#{shopList.deleteList()}"/>
                    <p:commandButton id="abbrechenlöschen" onclick="PF('listeloeschenDialog').hide()" value="Nein"/>
                </p:panel>        
            </h:form>
       </p:dialog>
    </h:body>
</html>
