<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Dialog zur Erstellung einer neuen Liste mit Aufforderung einen Namen einztugeben -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Formular</title>   
         <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    </h:head>
    <h:body>
        <!-- Dialog -->
        <p:dialog id="dialogliste" header="Listennamen" widgetVar="listnamenDialog" height="auto" closable="true" >      
            <h:form id="listnamenform">
                <p:panel id="panelliste" style="border-color: #ffffff" >
                    <p:outputLabel value="Bitte geben Sie nun den Namen der Liste ein."/>
                    <br/>
                    <p:outputLabel value="Name der Liste: "/>
                    <h:panelGrid border="0" columns="2">
                    <!-- Eingabe des Namens -->
                    <p:inputText id="ln" value="#{shopList.listname}" required="true" requiredMessage="Bitte Listennamen eingeben.">
                        <f:validateLength minimum="2" maximum="15"/>
                    </p:inputText>
                    <p:message for="ln" display="Ttext"/>
                    </h:panelGrid>
                    <br/>
                    <!-- bestaetigen / abbrechen -->
                    <p:commandButton validateClient="true" update="listnamenform" id="bestaetigungliste" value="Bestätigung" action="#{shopList.makeNewList()}"/>
                    <p:commandButton id="abbrechenliste" onclick="PF('listnamenDialog').hide()" value="Abbrechen"/>
                </p:panel>        
            </h:form>
       </p:dialog>   
    </h:body>
</html>
