<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Dialog zu Mein Konto, um diverse
     Änderungen vorzunehmen.
     a) Name wechseln
     b) Passwort wechseln
     c) Emailadresse wechseln
     d) Gruppenzugehörigkeiten anzeigen
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Mein Account</title>     
        <style type="text/css">
            .colStyle1 { width: 80px;
            
            }
            .colStyle2 { width: 150px;
           
            }
            .colStyle3 { width: 90px;
           
            }
            .colStyle4 { width: 90px;
           
            }
            .colStyle5 { width: 90px;
            }
        </style>
    </h:head>
    <h:body>
        <!-- Dialog -->
        <p:dialog id="dialogMeinAccount" width="auto" header="Mein Konto" widgetVar="myaccountDialog" height="auto">      
            <p:panel id="panelmyaccount" style="border-color: #ffffff">
                <h3>Kontoinformation des Nutzers:</h3>
                <!-- ID des Nutzers -->
                <h:panelGrid columns="2" columnClasses="colStyle1, colStyle2"> 
                  <h:outputText id="nutzerid" value="Nutzer ID:"/>
                  <h:outputText id="nutzeridvalue" value="#{loginLogout.id}"/>               
                </h:panelGrid>    
                
                <!-- Name wechseln -->
                <h:form id="changename">
                    <h:panelGrid id="panelname" columns="5" columnClasses="colStyle1, colStyle2, colStyle3, colStyle4">
                        <h:outputText id="nutzername" value="Name:"/>
                        <h:outputText id="name" value="#{loginLogout.registrierterNutzer.name}" rendered="#{meinAccountBean.nutzernamevalueoutput}"/>
                        <p:commandButton value="Ändern" action="#{meinAccountBean.clickChangeName()}" rendered="#{meinAccountBean.aenderbuttonname}" update="changename"/>
                        <h:panelGrid columns="3" rendered="#{meinAccountBean.nutzernamevalueinput}">
                            <p:inputText id="nutzernamevalueinput" value="#{loginLogout.registrierterNutzer.name}" required="true" requiredMessage="Bitte Namen eingeben.">
                                <f:validateLength minimum="2" maximum="15"/>
                            </p:inputText>
                            <p:commandButton value="Speichern" action="#{meinAccountBean.changeName()}" update=":panel2" validateClient="true" ajax="true"/>
                            <p:commandButton value="Abbrechen" action="#{meinAccountBean.abbortName()}" immediate="true" update="changename, name"/>
                        </h:panelGrid>
                    </h:panelGrid>   
                </h:form>

                <!-- Emailadresse wechseln -->
                <h:form id="changeemail">
                    <h:panelGrid id="panelmail" columns="4" columnClasses="colStyle1, colStyle2, colStyle3">
                        <h:outputText id="nutzeremail" value="Email:"/>                       
                        <h:outputText id="mail" value="#{loginLogout.registrierterNutzer.EMail}" rendered="#{meinAccountBean.nutzeremailvalueoutput}"/>
                        <p:commandButton value="Ändern" action="#{meinAccountBean.clickChangeEmail()}" rendered="#{meinAccountBean.aenderbuttonemail}" update="changeemail"/>
                        <h:panelGrid columns="3" rendered="#{meinAccountBean.nutzeremailvalueinput}">
                            <p:inputText type="text" id="nutzeremailvalueinput" value="#{loginLogout.registrierterNutzer.EMail}" required="true" requiredMessage="Bitte Emailadresse eingeben!">
                                <f:validateRegex pattern="[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}" />
                            </p:inputText>
                            <p:commandButton value="Speichern" action="#{meinAccountBean.changeMail()}"  validateClient="true" ajax="true"/>
                            <p:commandButton value="Abbrechen" action="#{meinAccountBean.abbortEmail()}" immediate="true" update="changeemail, mail"/>
                        </h:panelGrid>
                    </h:panelGrid>       
                </h:form>
                
                <!-- Passwortwechsel, Aufforderung von doppelter Eingabe -->
                <h:form id="changepass">
                    <h:panelGrid id="panelpass" columns="3" columnClasses="colStyle1, colStyle2, colStyle3">
                        <h:outputText id="nutzerpasswort" value="Passwort:"/>
                        <p:commandButton value="Ändern" action="#{meinAccountBean.clickChangePasswort()}" rendered="#{meinAccountBean.aenderbuttonpasswort}" update="panelpass"/>
                        <h:panelGrid id="p" columns="5" rendered="#{meinAccountBean.nutzerpasswortvalueinput}">
                            <p:password id="passs1" match="passs2" value="#{meinAccountBean.passwort1}" required="true" requiredMessage="Bitte Passwort eingeben."/> 
                            <h:outputText value="wiederholte Eingabe:"/>
                            <p:password id="passs2" value="#{meinAccountBean.passwort1}" required="true" requiredMessage="Bitte Passwort eingeben."/>                                            
                            <p:commandButton value="Speichern" ajax="true" validateClient="true" action="#{meinAccountBean.changePasswort()}"/>
                            <p:commandButton value="Abbrechen" action="#{meinAccountBean.abbortPass()}" immediate="true" update="changepass"/>
                        </h:panelGrid>
                    </h:panelGrid>   
                </h:form>
                <p:separator/>
                
                <!-- wenn Gruppen existieren -->
                <h3>Gruppenzugehörigkeiten des Nutzers:</h3>
                <h:panelGrid border="0" rendered="#{loginLogout.gruppenvorhanden}" width="300px">
                    <p:dataTable var="l" value="#{loginLogout.glisten}">
                        <p:column headerText="Gruppe" width="50px">
                            <h:outputText value="#{l.name}"/> 
                        </p:column>
                        <p:column headerText="Ersteller" width="50px">
                            <h:outputText value="#{l.gruppenErsteller.name}"/> 
                        </p:column>
                    </p:dataTable>
                </h:panelGrid>
                
                <!-- wenn keine Gruppen existieren -->
                <h:panelGrid border="0" rendered="#{loginLogout.gruppennichtvorhanden}">
                    <p:outputLabel value="Keine Gruppen vorhanden"/>
                </h:panelGrid>
                <br/>
                <!-- Abbrechen -->
                <h:form>
                    <p:commandButton id="abbrechenmyacc" action="#{meinAccountBean.abbort()}" onclick="PF('myaccountDialog').hide()" value="Fenster schließen"/>                        
                </h:form>
               </p:panel>        
       </p:dialog>  
    </h:body>
</html>
