<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Dialog Passwort vergessen, Aufforderung zur Eingabe eines Namens-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Passwort vergessen</title>       
    </h:head>
    <h:body>
        <!-- Dialog -->
        <p:dialog id="dialogpass" header="Passwort vergessen" widgetVar="passwortvergesssenDialog" height="auto" closable="true" dynamic="true">      
           <h:form id="passwortvergessenform">
               <br/>
               <!-- Eingabe eines Namens -->
               <p:outputLabel value="Bitte geben Sie Ihren Namen ein:"/>
               <h:inputText value="#{userBean.passname}"/>
               <br/>
               <p:outputLabel value="#{userBean.passmessage}" rendered="#{userBean.renderpassmessage}" style="color: red;"/>
               <br/>
               <br/>
               <!-- bestaetigen / abbrechen -->
               <p:commandButton id="bestaetigungpass" validateClient="true" update="passwortvergessenform" value="Passwort anfordern" action="#{userBean.passwortAnfordern()}"/>
               <p:commandButton id="abbrechenpass" value="Abbrechen" onclick="PF('passwortvergesssenDialog').hide()" action="#{userBean.abbort()}"/>
            </h:form>
            <p:message for="passwortvergessenform"/>
        </p:dialog>
    </h:body>
</html>
