<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Dialog Registrierung -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Formular</title>       
    </h:head>
    <h:body>
        <!-- Dialog -->
        <p:dialog id="dialog" header="Registrierung" widgetVar="registrationDialog" height="auto" closable="true" >      
            <h:form id="regiform">
                <p:panel id="panel1" style="border-color: #ffffff" >
                    <h:panelGrid border="0" id="grid" columns="3">
                        <!-- Eingabe des Namens -->
                        <p:outputLabel id="name" value="Name:"/>
                        <p:inputText id="inputName" value="#{userBean.name}" required="true" requiredMessage="Bitte Namen eingeben!">
                            <f:validateLength minimum="2" maximum="30"/>
                        </p:inputText>
                        <p:message for="inputName" display="Text"/> 
                        
                        <!-- Eingabe des Passwortes1-->
                        <p:outputLabel id="passwort1" value="Passwort:"/>
                        <p:password id="inputPasswort1"  value="#{userBean.passwort1}" required="true" match="inputPasswort2" requiredMessage="Bitte Passwort eingeben!" feedback="true"/>
                        <p:message for="inputPasswort1" display="Text"/>                       
                        <!-- Eingabe des Passwortes2-->
                        <p:outputLabel id="passwort2" value="Passwort:"/>
                        <p:password id="inputPasswort2"  value="#{userBean.passwort2}" required="true" requiredMessage="Bitte Passwort wiederholt eingeben!" feedback="true"/>  
                        <p:message for="inputPasswort2" display="Text"/>                       

                        <!-- Emailadresse -->
                        <p:outputLabel id="email" value="Email:"/>
                        <p:inputText id="inputEmail" value="#{userBean.email}" required="true" requiredMessage="Bitte gültige Email eingeben!">
                            <f:validateRegex pattern="[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}" />
                        </p:inputText>
                        <p:message for="inputEmail" display="Text"/>                      
                
                        <!-- Bestaetigen / Abbrechen-->
                        <h:panelGrid columns="2" border="0">
                            <p:commandButton update="grid" validateClient="true" id="bestaetigung" value="Bestätigung" action="#{userBean.registerUserData()}"/>
                            <p:commandButton id="abbrechen" onclick="PF('registrationDialog').hide()" value="Abbrechen" ignoreAutoUpdate="true"/>
                        </h:panelGrid>
                    </h:panelGrid>
                </p:panel>        
            </h:form>
       </p:dialog>   
    </h:body>
</html>
