<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Gruppen Auswahl Dialog, um eine Gruppe einer Liste hinzuzufügen-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
    </h:head>
    <h:body>
        <!-- Dialog -->
        <p:dialog closeOnEscape="true" id="dialogSel" header="Aktuelle Gruppen" 
                  widgetVar="gruppenselectDialog" height="auto" closable="true" 
                  width="300px">      
            <h:form id="selectform">
                <p:outputLabel value="Bitte wählen Sie eine Gruppe aus:"/>
                <p:spacer width="15px"/>
                
                <!-- Auswahl der Gruppe-->
                <h:selectOneMenu value="#{shopList.item}">
                    <f:selectItems value="#{shopList.gruppenlistest}"/>
                </h:selectOneMenu>
                <br/>
                
                <!-- Bestaetigen / Abbrechen -->
                <p:commandButton id="bestaetigungselgruppe" update="selectform" value="Bestätigung" action="#{shopList.setGruppezurListe()}"/>
                <p:commandButton id="abbrechenselgruppe" onclick="PF('gruppenselectDialog').hide()" value="Abbrechen"/>
            </h:form>
       </p:dialog>   
    </h:body>
</html>
