@media screen and (min-width: 1250px) {    
    #top {
        position: relative ;
        background-color: #036fab;
        color: white;
        padding: 5px;
        margin: 0px 240px 5px 240px;
        border-color: #000000;
        border-width: 5px;
    }

    #top2_menubar {
        position: relative;
        padding: 0px;
        margin: 0px 240px 1px 240px;
        border-color: #036fab;
        border-width: 0px;    
    }

    #bottom {
        position: relative;
        background-color:  #cccccc;
        padding: 5px;
        margin: 4px 240px 6px 240px;
        color: #666666;
    }

    #left {
        float: left;
        background-color: #ffffff;
        padding: 5px;
        width: 140px;
    }

    #right {
        float: right;
        background-color: #ffffff;
        padding: 5px;
        width: 150px;
    }

    .center_content {
        position: relative;
        background-color: #dddddd;
        padding: 5px;
        border-color: #000000;
        border-width: 5px;
    }

    .left_content {
        background-color: #dddddd;
        padding: 5px;
        margin-left: 0px;
    }

    .right_content {
        background-color: #eeeeee;
        padding: 5px;
        margin: 0px 240px 0px 240px;
    }

    #top a:link, #top a:visited {
      color: white;
      font-weight : bold;
      text-decoration: none;
    }

    #top a:link:hover, #top a:visited:hover  {
      color: black;
      font-weight : bold;
      text-decoration : underline;
    }
    
    .dialogfav{
        width: 50% !important;
        top: 200px !important;
    }
    
    .image{
        background-image: url("../resources/Images/liste _contrast_gedreht.jpg");
    }
}

@media only screen and (max-width: 1350px)
{    
    #top {
        position: relative ;
        background-color: #036fab;
        color: white;
        padding: 5px;
        margin: 0px 0px 5px 0px;
        border-color: #000000;
        border-width: 0px;
    }

    #top2_menubar {
        position: relative;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        border-color: #036fab;
        border-width: 0px;    
    }

    #bottom {
        position: relative;
        background-color:  #cccccc;
        padding: 5px;
        margin: 4px 0px 5px 0px;
        color: #666666;
    }

    #left {
        float: left;
        background-color: #ffffff;
        padding: 0px;
        width: 0px;;
    }

    #right {
        float: right;
        background-color: #ffffff;
        padding: 0px;
        width: 0px;
    }

    .center_content {
        position: relative;
        background-color: #dddddd;
        padding: 5px;
    }

    .left_content {
        background-color: #dddddd;
        padding: 5px;
        margin-left: 0px;
        margin: 0px 0px 0px 0px;
    }

    .right_content {
        background-color: #eeeeee; 
        padding: 5px;
        margin: 0px 0px 0px 0px;
    }

    #top a:link, #top a:visited {
      color: white;
      font-weight : bold;
      text-decoration: none;
    }

    #top a:link:hover, #top a:visited:hover  {
      color: black;
      font-weight : bold;
      text-decoration : underline;
    }    
    
   .dialogfav{
        width: 90% !important;
        top: 200px !important;
    }
    
    .image{
        background-image: url("../resources/Images/liste _contrast_gedreht.jpg");
    }
}

