@media screen and (min-width: 1250px) {    
    body {
        background-color: #ffffff;
        font-size: 11px;
        font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        color: #000000;  
        margin: 10px;
    }
    
    h1 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        text-align: left;
        color: #036fab;
    }
    
    h2 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #036fab;
    }
    
    h3 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 20px;
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #036fab;
    }
    
    h4 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 18px;
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #036fab;
    }
    

    a:link, a:visited {
      color: #045491;
      font-weight : bold;
      text-decoration: none;
    }

    a:link:hover, a:visited:hover  {
      color: #045491;
      font-weight : bold;
      text-decoration : underline;
    }
}   

@media only screen and (max-width: 1350px)
{ 
    body {
        background-color: #ffffff;
        font-size: 11px;
        font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        color: #000000;  
        margin: 10px;
    }
    
    h1 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        text-align: left;
        color: #036fab;
    }
    
    h2 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #036fab;
    }
    
    h3 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 20px;
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #036fab;
    }
    
    h4 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 18px;
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #036fab;
    }
    

    a:link, a:visited {
      color: #045491;
      font-weight : bold;
      text-decoration: none;
    }

    a:link:hover, a:visited:hover  {
      color: #045491;
      font-weight : bold;
      text-decoration : underline;
    }
}

@media only screen and (max-width: 640px)
{ 
    body {
        background-color: #ffffff;
        font-size: 11px;
        font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        color: #000000;  
        margin: 10px;
    }
    
    h1 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        text-align: left;
        color: #036fab;
    }
    
    h2 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #036fab;
    }
    
    h3 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 12px;
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #036fab;
    }
    
    h4 {
        font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        font-size: 12px;
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #036fab;
    }
    

    a:link, a:visited {
      color: #045491;
      font-weight : bold;
      text-decoration: none;
    }

    a:link:hover, a:visited:hover  {
      color: #045491;
      font-weight : bold;
      text-decoration : underline;
    }
}
    

