<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- LoggedPanel das nach erfolgreichem Einloggen via AJAX ausgetauscht wird. -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>ShopAssistant</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <!-- LogoutPanel: Willkommenstext, Logoutbutton und Mein Konto Button -->
        <p:panel id="panel2">
            <h1>ShopAssistant</h1>
            <!-- mit LOGO -->
            <h:graphicImage value="resources/Images/logo.png" style="width: 40px; height: 40px; float: left"/>
            <h:panelGrid columns="2" border="0">                    
                <h:form>
                    <!-- Willkommenstext -->
                    <p:outputLabel value="Willkommen, #{loginLogout.name} !"/>                    
                    <p:spacer width="15px"/>
                    <!-- Splitbutton mit logout && mein konto -->
                    <p:splitButton id="logout" value="Abmelden" action="#{loginLogout.logout()}">
                        <p:menuitem id="myaccount" value="Mein Account" action="#{dialogBean.showMeinAccountDialog()}" update=":dialogMeinAccount"/>
                    </p:splitButton>
                    <p:message for="logout"/>
                </h:form>
            </h:panelGrid>     
        </p:panel>
    </h:body>
</html>

