<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- Login Panel des Shopassistant aus dem Header -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head><!-- -->
        <title>ShopAssistant</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <!-- LoginPanel mit Eingabefelder, LoginButton, Registrierung und Passwort vergessen -->
        <p:panel id="panel2">
            <h:form id="formlogin">  
                <!-- mit LOGO -->               
                <h1>ShopAssistant</h1>
                <h:graphicImage value="resources/Images/logo.png" style="width: 40px; height: 40px; float: left;"/>
                
                <ui:include src="../Components/waitLoading.xhtml"/>
                   <!-- Name oder Email eingeben-->
                   <p:inputText value="#{loginLogout.name}" placeholder="EMail / Name"/>
                   <p:spacer height="10" width="5"/>
                   <!-- Passwort eingeben -->
                   <p:password value="#{loginLogout.passwort}" placeholder="Passwort"/>
                   <p:spacer width="5"/>
                   
                   <!-- Loginbutton -->
                   <p:commandButton id="login" value="Login" type="submit" action="#{loginLogout.login()}"/>
                   <p:message for="login"/>
                   
                   <p:outputLabel id="loginerror" value="#{loginLogout.loginerrormessage}" rendered="#{loginLogout.renderloginerrormessage}" style="color: red; font-size: 15px;"/>
                   <p:spacer height="5" width="5"/>
                    
                   <h:panelGrid columns="3" border="0">
                       <!-- Passwort vergessen -->
                       <p:commandLink id="callPasswordforgotten" value="Passwort vergessen" action="#{dialogBean.showMeinePassVergessenDialog()}" 
                              style="color: #036fab; text-align: right !important;"/>
                       <p:spacer height="0" width="15"/>
                       <!-- Registrierung -->
                       <p:commandLink id="callRegi" value="Registrierung" action="#{dialogBean.showRegistrationDialog()}" 
                              style="color: #036fab; text-align: right !important;"/>
                   </h:panelGrid>
             </h:form>
        </p:panel>
    </h:body>
</html>

